@{
    ViewData["Title"] = "Home Page";
}

<section id="services" class="services">
  <div class="container">
    <center>
    <div class="section-title">
      <br><h2>¡Bienvenido!</h2>
      <br><p>Este es el panel en donde podrás realizar las siguentes actividades:</p><br><br>
    </div>         

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3209/3209061.png" style="width:70px;height:70px;"></i></div>
          <h4><a asp-controller="HospitalConsulta" asp-action="MisConsultasP">Tus consultas</a></h4>
          <br><p>Aquí podrás visualizar el historial de tus consultas médicas.</p>
        </div>
      </div>
    </div>
  </div>
</section>