@{
    ViewData["Title"] = "Home Page";
}


<section id="services" class="services">
      <div class="container">
        <center>
        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3209/3209074.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="Hospitals" asp-action="Hospitales">Hospital</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3063/3063148.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="AdminPanel" asp-action="Admin">Administradores</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3063/3063190.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="AdminPanel" asp-action="Admin">Catálogos</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>
                

        </div>

      </div>
    </section>