
@{
    ViewData["Title"] = "Home Page";
}


<section id="services" class="services">
      <div class="container">
        <center>
        <div class="section-title">
        <br> <h2>¡Bienvenido _________!</h2>
        <br>  <p>Este es el panel en donde podrás realizar las siguentes actividades:</p><br><br>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3209/3209074.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="Hospitals" asp-action="Hospitales">Hospital</a></h4>
              <br><p>Aquí podrás crear, actualizar  y deshabilitar hospitales.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3063/3063148.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="User" asp-action="AdminInfo">Administradores</a></h4>
              <br><p>Aquí podrás crear, actualizar, eliminar y leer administradores por rol.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3063/3063190.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="AdminPanel" asp-action="Seleccion">Catálogos</a></h4>
              <br><p>Aquí podrás editar el Catálogo de Servicios y Catálogo de Especialidades</p>
            </div>
          </div>
                

        </div>

      </div>
    </section>