@model Vista_historial_medico_blockchain.Models.UserInfo

@{
    ViewData["Title"] = "Home Page";
}

<br><h1>Información Personal</h1><br>
<table style="background-color: white; border-radius:8px;">
    <tr>
        <td class="column9">Apellido:</td>
        <td class="column10">(model => model.Apellido)</td>
    </tr>
    <tr> 
        <td class="column9">Email:</td>
        <td class="column10">(model => model.Email)</td>
    </tr>
    <tr> 
        <td class="column9">Nombre:</td>
        <td class="column10">(model => model.Nombre)</td>
    </tr>
    <tr> 
        <td class="column9">Telefono:</td>
        <td class="column10">(model => model.PhoneNumber)</td>
    </tr>
    <tr> 
        <td class="column9">Nombre de usuario:</td>
        <td class="column10">(model => model.Username)</td>
    </tr>
    <tr> 
        <td class="column9">Especialidad:</td>
        <td class="column10">(model => model.Username)</td>
    </tr>
            
</table>
<br><br>
<center>
    <button data-title="Edit" data-toggle="modal" data-target="#edit" class="btn btn-lg btn-primary btn-block">Editar</button>
</center>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Editar Datos</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Telefono">
                </div>
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="UserName">
                </div>
                <div class="form-group">
                    <input class="form-control " type="text" placeholder="Especialidad">
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span>Guardar</button>
                </div>
            </div>
        </div> 
    </div> 
</div>
        