
<section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i><img src="https://image.flaticon.com/icons/png/128/4371/4371378.png" style="width:70px;height=70px;"></i></div>
              <h4><a asp-controller="Home" asp-action="CreateH">Crear</a></h4>
              <p>Descrip</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i><img src="https://image.flaticon.com/icons/png/128/4371/4371325.png" style="width:70px;height=70px;"></i></div>
              <h4><a href="">Visualizar</a></h4>
              <p>Descrip</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i ><img src="https://image.flaticon.com/icons/png/128/4371/4371132.png" style="width:70px;height=70px;"</i></div>
              <h4><a href="">Modificar</a></h4>
              <p>Descrip</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i><img src="https://www.flaticon.com/svg/vstatic/svg/4371/4371267.svg?token=exp=1620946965~hmac=ff68ddfb2081ee773d345ba6ab9246b9" style="width:70px;height=70px;"> </i></div>
              <h4><a href="">Eleminar</a></h4>
              <p>Descrip</p>
            </div>
          </div>

          

          

        </div>

      </div>
    </section>