@{
    ViewData["Title"] = "Home Page";
}

  <div class="fr">
    <form action="/" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <h1>Nuevo Hospital</h1>
        <input type="text"  class="form-control" placeholder="Username">
        <input type="email" placeholder="Email">
        <button type="submit" href="/">Submit</button>
      </div>
    </form>
</div>