@{
    ViewData["Title"] = "Home Page";
}

<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Id</th>
									<th class="cell100 column2">Nombre</th>
									<th class="cell100 column3">Telefono</th>
									<th class="cell100 column4">Fecha de Registro</th>
									<th class="cell100 column5">Id Servicio</th>
                                    <th class="cell100 column6">Servio</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body ">
						<table>
							<tbody>
								<tr class="row100 body">
									<td class="cell100 column1">000</td>
									<td class="cell100 column2">Befwe</td>
									<td class="cell100 column3">ef</td>
									<td class="cell100 column4">eff</td>
									<td class="cell100 column5">egrgr</td>
                                    <td class="cell100 column6">eg3r</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				