@{
    ViewData["Title"] = "Home Page";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <table  style="width: 100%; eight: 100%" >
        <tr>
          <td> <h1>¡Bienvenido!</h1>
      <h2>Para nosotros, la seguridad de los datos personales es lo más importante
</h2>
      <a  class="btn-get-started scrollto" asp-area="" asp-controller="Home" asp-action="login">Comenzar</a></td>
          <td> <img src="https://images.pexels.com/photos/7890936/pexels-photo-7890936.png?auto=compress&cs=tinysrgb&dpr=1&w=500" style="width:500px;height=500px;"/></td>
        </tr>
      </table>
      </div>
  </section><!-- End Hero -->