@{
    ViewData["Title"] = "Home Page";
}


<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>¡Bienvenido!</h1>
      <h2>Somos una...</h2>
      <a  class="btn-get-started scrollto" asp-area="" asp-controller="Home" asp-action="login">Comenzar</a>
    </div>
  </section><!-- End Hero -->