@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                    <div class="login-box">
                            <div class="card-body text-center">
                                <form action="">
                                    <center><img src="https://www.flaticon.com/svg/vstatic/svg/1651/1651092.svg?token=exp=1620974177~hmac=b9e8c7c4ec6cd2538432a0bcc7a6859c" style="width:200px;height=200px;"/></center>
                                     <br><br>
                                     <h1 class="h3 mb-3 font-weight-normal"><b>Registrarse</b></h1>
                                    <div class="form-group">
                                        <input type="text" id="nombre" name="nombre"class="form-control" required placeholder="Nombre">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="apellido" name="apellido" class="form-control" required placeholder="Apellido">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="email" name="email" class="form-control" required placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="userName" name="userName" class="form-control" required placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" name="password" class="form-control" required placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required placeholder="Confirmar Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required placeholder="Telefono">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
                                </form>
                                
                            </div>
                        
                    </div>
                
            </div>
        </div>
    </div>
