@{
    ViewData["Title"] = "Home Page";
}

<section id="services" class="services">
  <div class="container">
    <center>
      <div class="section-title">
      <br> <h2></h2>
      <br>  <p>Seleccione que es lo que desea visualizar</p><br><br>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3208/3208996.png" style="width:70px;height:70px;"></i></div>
            <h4><a asp-controller="Catalogos" asp-action="Servicios">Servicios</a></h4>
            <br><p>&nbsp; Aquí podrás visualizar los tipos de servicios</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="icofont-drug"><img src="https://image.flaticon.com/icons/png/128/3209/3209024.png" style="width:70px;height:70px;"></i></div>
            <h4><a asp-controller="Catalogos" asp-action="Especialidades">Especialidades</a></h4>
            <br><p>Aquí podrás crear y actualizar especialidades.</p>
          </div>
        </div>               
      </div>
    <center>
      <br>
      <div class="btn-group">
        <center></center><data-placement="top" data-toggle="tooltip" title="new"><a asp-controller="AdminPanel" asp-action="PanelAdmin"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">Regresar</button></a></center>
      </div>
    </center>
  </div>
</section>