@model Vista_historial_medico_blockchain.Models.MiCalendarioConsultasDTO
@{
    ViewData["Title"] = "Home Page";
}

<h3>Tus consultas</h3>
    <div class="table100 ver1 m-b-110">
	    <div class="table100-head">
            <table >
                <thead>
                <tr class="row100 head">
                    <th class="cell100 column8" >Paciente</th>
                    <th class="cell100 column8" >Fecha de consulta</th>
                    
                </tr>
                </thead>
                <tbody>	
                <!--foreach (var item in Model.MisConsultas)
                {-->
                <tr class="row100 body">
                    <td class="cell100 column8">Html.DisplayFor(modelItem => item.NombreDoctor)</td>
                    <td class="cell100 column8"> Html.DisplayFor(modelItem => item.NombreHospital)</td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <!--}-->	   
                </tbody>
            </table>	
	    </div>
    </div>
<br><br>
