@{
    ViewData["Title"] = "Home Page";
}

  <div class="fr">
    <form action="/" class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner"><center>
        <h1><b>Nuevo Hospital</b></h1></center>
        <input type="text"  placeholder="Nombre">
        <input type="text" placeholder="Número telefonico">
        <input type="date" placeholder="Fecha de registro">
        <input type="text" placeholder="Id del administrador">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Crear</button>
      </div>
    </form>
</div>