@model Vista_historial_medico_blockchain.Models.HospitalSpecialitiesInfo
@{
    ViewData["Title"] = "Especialidades";
}

<br><h1>Catálogo de Servicios</h1>
<div class="table100 ver1 m-b-110">
	<div class="table100-head">
		<table>
			<thead>
				<tr class="row100 head">
					<th class="cell100 column7"><h5>Nombre</h5></th>
					<th class="cell100 column8"><h5>Eliminar</h5></th>
				</tr>
			</thead>
				<tbody>
				@foreach (var item in Model.Specialities)
				{
					<tr class="row100 body">
						<td class="cell100 column7">&nbsp;&nbsp;&nbsp;<h6>@Html.DisplayFor(modelItem => item.Type)</h6></td>
						<td class="cell100 column8">
							<data-placement="top" data-toggle="tooltip" title="Borrar">&nbsp;&nbsp;&nbsp;
							<h6>@Html.ActionLink("Borrar", "BorrarEspecialidad", new { hospitalId = Model.HospitalId, specialityId = item.Id } )</h6>
						</td>						
					</tr>
				}	
				</tbody>		
		</table>
	</div>
</div>

<center>
	<br>
	<div class="btn-group">
		<center><data-placement="top" data-toggle="tooltip" title="new"><button style='width:140px; height:50px' class="btn btn-lg btn-primary btn-block">@Html.ActionLink("Agregar", "AgregarEspecialidad", new { hospitalId = Model.HospitalId })</button></a></center> 
	</div>
</center>
&nbsp;&nbsp;

<script>
	$(document).ready(function(){
		$("#mytable #checkall").click(function () {
			if ($("#mytable #checkall").is(':checked')) {
				$("#mytable input[type=checkbox]").each(function () {
					$(this).prop("checked", true);
				});

			} else {
				$("#mytable input[type=checkbox]").each(function () {
					$(this).prop("checked", false);
				});
			}
		});
		$("[data-toggle=tooltip]").tooltip();
	});
</script>