@model IEnumerable<Vista_historial_medico_blockchain.Models.ServicesCatalog>
@{
    ViewData["Title"] = "Home Page";
}

<br><h1>Catálogo de medicamentos</h1>
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100">Clave</th>
									<th class="cell100">Descripción</th>
                                    <th class="cell100">Indicaciones</th>
                                    <th class="cell100">Via de administración</th>
								</tr>
							</thead>
								<tbody>
								
								<tr class="row100 body">
									<td class="cell100" colspan="4" style="font-size:20px"><b>Clonixinato </b></td>
								</tr>
                                <tr class="row100 body">
									<td class="cell100" style="font-size:19px">dsf</td>
                                    <td class="cell100" style="font-size:19px">dsf</td>
                                    <td class="cell100" style="font-size:19px">dsf</td>
                                    <td class="cell100" style="font-size:19px">dsf</td>
								</tr>
                                <tr class="row100 body">
									<td class="cell100" colspan="4" style="font-size:19px">dsf</td>
								</tr>
							
								</tbody>		
						</table>
					</div>
				</div>



